*{
    box-sizing: border-box;
    width:100%;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: rgba(117, 105, 105, 1);
}
.nav{
    height: 8vh;
    background-color: black;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.nav h1{
    color:white;
    position: relative;
}
.nav-active{
    position: fixed;
}
.hamburger{
    margin-right: 3.125rem;
    cursor: pointer;
    margin: 5vw;
    width:15vw;
}
.hamburger div{
    width: 25px;
    height: 3px;
    background-color: rgb(244, 244, 242);
    margin:5px;
    border-radius: 10%;
}

.nav-link{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 92vh;
    background:black;
    position: absolute;
    top: -92vh;

    list-style: none;
    text-align:center;
}

.nav-link-active{
    transform:translateY(100vh);
    position: fixed;
}



.nav-link a{
    text-decoration: none;
    letter-spacing: 0.1875rem;
    color: rgb(244, 244, 242);
    font-size: 1.5rem;
}

#background_img{
    height: 35vh;
    background-image: url("/img/background.jpg");
    background-position: center;
}
#section1{
    height: 40vh;
    width: 94vw;   
    background-color: white;
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;

    display: flex;
    align-items: center;
}
#article1{
    margin:10px;
}
#article1 p{
    margin-top:1vh;
}
#article1_img{
    height: 16vh;
    width:40vw;
    margin:4vw;
}


#section2{
    height: 40vh;
    width: 94vw;   
    background-color: white;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    
    display: flex;
    align-items: center;
}

#article2 p{
    margin-top:1vh;
}

#article2_img{
    height: 16vh;
    width:40vw;
    margin:4vw;
}

footer{
    bottom: 0;
    height: 6vh;
    background-color: rgb(65, 65, 65);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    color:white;
    text-align: center;
}

#programText{
    font-size: 2.5rem;
    text-align: center;
    color:white;
    /*margin-top: 1vh;  fuckar nav vid click fixar sedan*/ 
}





#section1Schema{
    height: 20vh;
    width: 94vw;   
    background-image:url("/img/Schema_article1_img.png") ;
    background-size:cover;
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    color:white;

    display: flex;
}

#Schemaarticle1{
    margin-top: 1vh;
    margin-left: 2vw;
    width:56vw;
}
#Schemaarticle1 p{
    font-size: 0.55rem;
    margin:0.2vh;
}
.blackBackground{
    height: 14vh;
    width: 60vw;
    background-color: RGBA(0, 0, 0, 0.5);

    margin-left: 8vw;
    margin-top: 3vh;
    
    display:flex;
    flex-direction: column;
}




#Schemaarticle2{
    margin-top: 1vh;
    margin-left: 2vw;
    width:56vw;
}

#Schemaarticle2 p{
    font-size: 0.55rem;
    margin:0.2vh;
}


#section2Schema{
    height: 20vh;
    width: 94vw;   
    background-image:url("/img/Schema_article2_img.png") ;
    background-size:cover;
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    color:white;
    display: flex;
}

@media screen and (min-width: 800px){
    
    nav{
        height: 12vh;
        justify-content: center;
        align-content: flex-start;
    }

    nav h1{
        color:white;
        text-align: center;
        font-weight: normal;
        font-size: 1.8rem;

        top:-1.8vh;
    }
    .nav-link{
        flex-direction: row;
        height: 20px;
        top:4.3vh;
        left:0px;
        background-color: transparent;
    }

    .hamburger{
        display:none;
    }

    #article1_img{
        height: 30vh;
        width:40vw;
        margin:4vw;
    }


    #article2_img{
        height: 30vh;
        width:40vw;
        margin:4vw;
    }

    #section1Schema{
        width: 40vw;
        height: 35vh;
        display: inline-block;

        margin-top: 4vh;
        margin-left: 8vw;
        margin-right: 0vw;
    }
    #section2Schema{
        width:40vw;
        height: 35vh;
        display: inline-block;

        margin-top: 4vh;
        margin-left: 4vw;
        margin-right: 0vw;
    }

    .blackBackground{
        width: 35vw;
        height: 25vh;
        
        margin-left:2vw;
        margin-top: 5vh;
    }
    #Schemaarticle1{
        width:25vw;
    }
    #Schemaarticle1 p{
        font-size: 0.9rem;
    }

    #Schemaarticle2{
        width:25vw;
    }
    #Schemaarticle2 p{
        font-size: 0.9rem;
    }

}
